Jacob Zaval     <jazava@microsoft.com>
Eric Hanko      <v-erhank@microsoft.com> <eric.hanko1@gmail.com>
Eric Hanko      <v-erhank@microsoft.com> Unknown <v-erhank@microsoft.com>
Mark John Merin <v-mamer@microsoft.com> <33106688+mjmerin@users.noreply.github.com>
Ryan Dominguez  <v-rydom@microsoft.com>
Eammon Hanlon   <eammon.hanlon@microsoft.com> Unknown <eammon.hanlon@microsoft.com>
Eammon Hanlon   <eammon.hanlon@microsoft.com> <eahanl@microsoft.com>
Eammon Hanlon   <eammon.hanlon@microsoft.com> <eammon.hanlon@gmail.com>
Eammon Hanlon   <eammon.hanlon@microsoft.com> <ehanlon@users.noreply.github.com>
Eammon Hanlon   <eammon.hanlon@microsoft.com> <eammon.hanlon@outlook.com>
Andre Shields    <v-anshie@microsoft.com> v-anshie <v-anshie@microsoft.com>
Darío Hereñú    <magallania@gmail.com>
